body {
    margin: 0px;
    margin-top: 0%;
}

.background-home {
    background-image: url('./assets/yoga-mountain.jpg');
    background-size: cover;
    height: 800px;
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family: 'Kavivanar', cursive;
    color: #F0E090;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 30px;
    padding-top: 20px;
}

.menu li,
a {
    list-style: none;
    text-decoration: none;
}

h3 {
    font-size: 20px;
    color: green;
    left: 51%;
    bottom: 125px;
    position: relative;
}

h2 {
    text-align: center;
    color: steelblue;
    font-size: 40px;
    font-family: 'Bellefair', serif;
    padding-top: 100px;
}

p {
    text-align: center;
    color: lightsteelblue;
    font-size: 20px;
    font-family: 'Bellefair', serif;
    padding-bottom: 100px;
}

.rose {
    width: 200px;
    height: 50px;
    background-color: #CFDFE5;
    margin-left: 42%;
    margin-bottom: 80px;
}

.dec {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Bellefair', serif;
    color: whitesmoke;
}

.background-center {
    background-image: url('./assets/image1.jpg');
    height: 800px;
    background-size: cover;
    background-color: rgb(255, 255, 255, 0.2)
}

.para1 {
    font-size: 36px;
    text-align: center;
    padding-top: 12%;
    width: 500px;
    margin-left: 60px;
    font-family: 'Bellefair', serif;
}

.para2 {
    width: 500px;
    margin-left: 100px;
    font-size: 25px;
    font-family: 'Bellefair', serif;
}

.logo {
    display: flex;
    padding-top: 100px;
    margin-left: 35%;
    text-indent: 50px;
}

.phrase {
    text-align: center;
    font-size: 30px;
    width: 558px;
    margin-left: 34%;
    padding-top: 55px;
    color: steelblue;
    font-family: 'Bellefair', serif;
}

.rose2 {
    width: 200px;
    height: 50px;
    background-color: #CFDFE5;
    margin-left: 30%;
    margin-bottom: 80px;
    margin-top: 40px;
}

.J {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Bellefair', serif;
    color: whitesmoke;
}

.text1 {
    font-size: 20px;
    background-color: royalblue;
    color: white;
    height: 30px;
    padding-left: 50px;
    padding-top: 10px;
    margin-top: 50px;
}

.sous-text {
    font-size: 33px;
    margin-left: 26%;
    color:black;
    width: 732px;
    padding-top: 20px;
    font-family: 'Bellefair', serif;
    text-align: center;
}

#lesprofs {
    display: flex;
    margin-top: 15%;
    text-indent: 8%;
}

.Présentation {
    display: flex;
    margin-top: 4%;
    text-indent: 7%;
    font-size: 40px;
    font-family: 'Bellefair', serif;
}

.sociaux {
    color: whitesmoke;
    font-size: 30px;
}

.fin {
    background-color: black;
    height: 400px;
    margin-top: 80px;
    display: flex;

}

.espace {
    color: white;
    font-size: 30px;
    padding-top: 50px;
    margin-left: 90px;
    font-family: 'Bellefair', serif;
}

.sous-espace li {
    color: white;
    list-style: none;
}

.savoir {
    color: white;
    font-size: 30px;
    padding-top: 50px;
    margin-left: 45%;
    font-family: 'Bellefair', serif;
}

.sous-savoir li {
    color: white;
    list-style: none;
}

.Professeurs1 {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 10%;
}

.nom1 {
    width: 500px;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Bellefair', serif;
    color:black;
    font-size: 20px;
}

.background2{
    background-color:white;
    
}



.nos{
    color: black;
    margin: 0px;
}

